/*
Author: Hunter Dettmer
Date: 4/26/2024
File Name: styles.css
*/

/* 
Fonts: 
Francois One, sans-serif;
Roboto Slab, serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@100;200;400;900&display=swap');

/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	border: 0;
}

/* Styles for body section and all images */
body {
	background-color: #6F6F6F;
}

img {
	max-width: 100%;
	display: block; 
}

footer {
	text-align: center;
	color: #fff;
	font-family: Arial;
	padding-top: 1.50%;
	padding-bottom: 2%;
	background-color: #100F0F;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: #F2CE5F;
}

/* Styles for the mobile viewport, hides desktop viewport */

.desktop {
	display: none;
}

.mobile {
	display: block;
}

/* Mobile header styles */
header {
	text-align: center;
	padding-top: 7.5px;
	height: 50px;
	margin: 0 auto;
	background-image: url("../images/artificial-intelligence-home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

header a {
	text-decoration: none;
	font-family: 'Francois One', serif;
}

header a h1 {
	color: #F2CE5F;
}

/* Mobile nav styles */
.mobile-nav a {
	display: block;
	text-decoration: none;
	color: #D4D4D4;
	font-family: 'Roboto Slab', sans-serif;
	text-align: center;
	font-size: 1.5em; 
	padding: 1.75%;
}

.mobile-nav a.menu-icon {
	display: block; 
	position: absolute;
	right: 0;
	top: 0;
}

/* Mobile main styles */
main {
	margin: 1.75% 1.75% 0.75% 1.75%;
	padding: 3%;
	clear: both;
	background-color: #37DCFA;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif; 
	
}

main p {
	text-align: left;
	padding: 1.50%;
}


#form {
	margin-top: 2%;
	background:radial-gradient(#f2f2f2, #37DCFA, #37DCFA);
	padding: 2%;
}

.btn {
	padding: 2%;
	margin: 0.50%;
	border-radius: 10%;
}

fieldset, input, select, textarea {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background: #;
	font-size: 1em;
	border-radius: 10px;
}

/* End of styles for mobile viewport */

/* Begin desktop viewport, hide mobile viewport */

@media screen and (min-width: 630px), print {
	.desktop {
		display: block;
	}
	
	.mobile, .mobile-nav {
		display: none;
	}
	
	/* Desktop header styles */
	header {
		display: block;
		text-align: center;
		margin: 0 auto; 
	}
	
	/* Desktop nav styles */
	nav {
		text-align: center;
		padding-top: 1.25%;
		padding-bottom: 1.25%;
	}

	nav li {
		display: inline;
		padding: 3%;
	}
	
	nav a {
		text-decoration: none;
		font-family: 'Roboto Slab', sans-serif;
		padding: 1%;
		color: #D4D4D4;
		font-size: 1.5em;
	}
	
	nav li a:hover {
		color: #000;
		background-color: #fff;
		transform: scale(1.3);
	}
	
	#homeHeroAI {
		width: 80%;
		display: inline-block;
	}
	
	main {
		margin: 1.50% 1.50% 0.5% 1.50%;
	}
	
	main h2 {
		padding: 0.50%;
	}
	
	main h3 {
		padding: 1.15%;
	}
	
	main p {
		padding: 1.50%;
	}
	
	form {
		width: auto;
	}
	
	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.btn {
		grid-column: 1 /span 3;
	}
}